statemachine/stock_trader.yaml
---
  Comment: A state machine that does mock stock trading.
  StartAt: Check Stock Value
  States:
    Check Stock Value:
      Type: Task
      Resource: "${StockCheckerFunctionArn}"
      Retry:
      - ErrorEquals:
        - States.TaskFailed
        IntervalSeconds: 15
        MaxAttempts: 5
        BackoffRate: 1.5
      Next: Buy or Sell?
    Buy or Sell?:
      Type: Choice
      Choices:
      - Variable: "$.stock_price"
        NumericLessThanEquals: 50
        Next: Buy Stock
      Default: Sell Stock
    Sell Stock:
      Type: Task
      Resource: "${StockSellerFunctionArn}"
      Retry:
      - ErrorEquals:
        - States.TaskFailed
        IntervalSeconds: 2
        MaxAttempts: 3
        BackoffRate: 1
      Catch:
      - ErrorEquals:
        - States.TaskFailed
        ResultPath: "$.error-info"
        Next: Cancel Operation
      Next: Record Transaction
    Buy Stock:
      Type: Task
      Resource: "${StockBuyerFunctionArn}"
      Retry:
      - ErrorEquals:
        - States.TaskFailed
        IntervalSeconds: 2
        MaxAttempts: 3
        BackoffRate: 1
      Catch:
      - ErrorEquals:
        - States.TaskFailed
        ResultPath: "$.error-info"
        Next: Cancel Operation
      Next: Record Transaction
    Cancel Transaction:
      Type: Task
      Resource: "${CancelTransactionFunctionArn}"
      Retry:
      - ErrorEquals:
        - States.TaskFailed
        IntervalSeconds: 2
        MaxAttempts: 3
        BackoffRate: 1
      Next: Cancel Operation
    Cancel Operation:
      Type: Task
      Resource: "${CancelOperationFunctionArn}"
      Retry:
      - ErrorEquals:
        - States.TaskFailed
        IntervalSeconds: 2
        MaxAttempts: 3
        BackoffRate: 1
      End: true
    Record Transaction:
      Type: Task
      Resource: "${DDBPutItem}"
      Parameters:
        TableName: "${DDBTable}"
        ConditionExpression: "#Quantity > :value"
        ExpressionAttributeNames:
          "#Quantity": Quantity
        ExpressionAttributeValues:
          ":value":
            N: '5'
        Item:
          Id:
            S.$: "$.id"
          Type:
            S.$: "$.type"
          Price:
            N.$: "$.price"
          Quantity:
            N.$: "$.qty"
          Timestamp:
            S.$: "$.timestamp"
      Catch:
      - ErrorEquals:
        - States.TaskFailed
        ResultPath: "$.error-info"
        Next: Cancel Transaction
      End: true
